body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
}

.logo {
    margin-right: auto;
    font-weight: 700;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-right: 80px;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.column1, .column2, .column3, .column4 {
    height: 300px;
}

.column1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.main-text {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
    max-width: 500px;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 550px;
    margin-bottom: 10px;
}

button {
    color: white;
    font-weight: bolder;
    background: #3882F6;
    border-radius: 7px;
    padding: 5px 20px;
    border: 1px #3882F6;
}

.divider {
    flex-wrap: wrap;
    vertical-align: middle;
}

.chicago {
    height: 199.5px;
    width: auto;
    box-shadow: 2px 2px 6px 1px black;
    vertical-align: middle;
}

.column2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    align-items: center;
}

.random {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 300px;
}

.info {
    max-width: 100px;
}


.column3 {
    background-color: #E5E7EB;
    color: black;
}

.column4 {
    color: black;
    background-color: white;
}