body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
}

.logo {
    margin-right: auto;
    font-weight: 700;
    padding: 15px 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-right: 80px;
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.container {
    display: flex;
    flex-direction: column;
}

.column1, .column2, .column3, .column4 {
    height: 300px;
}

.column1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.main-text {
    font-weight: 800;
    font-size: 48px;
    color: #F9FAF8;
    max-width: 500px;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 550px;
    margin-bottom: 10px;
}

button {
    color: white;
    font-weight: bolder;
    background: #3882F6;
    border-radius: 7px;
    padding: 5px 20px;
    border: 1px #3882F6;
}

.divider {
    flex-wrap: wrap;
    vertical-align: middle;
}

.chicago {
    height: 199.5px;
    width: auto;
    box-shadow: 2px 2px 6px 1px black;
    vertical-align: middle;
}

.column2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.random {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    margin-bottom: 20px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nature {
    border-radius: 10px;
    border: 4px solid green;
    margin-bottom: 10px;
}

.text {
    max-width: 150px;
    text-align: center;
    font-weight: 150;
}



.column3 {
    background-color: #E5E7EB;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    max-width: 500px;
}

.speaker {
    display: flex;
    font-weight: bolder;
    max-width: 250px;
    margin-left: 50%;
}


.column4 {
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
